@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  max-width:100%;
  overflow-x: hidden;
  font-family: 'Poppins' , sans-serif;
  color: #222;
}

.padding {
  padding-bottom: 2rem;
}

/* Navegação */
.navbar1 {
  background-color: #248eff;
  font-size: 0.8em;
  padding: .5em;
  align-items: left;
}
.navbar1-color li a {
  color: #ffffff !important;
}
.navbar1-color li a:hover {
  color: #000000 !important;
}
.navbar {
  padding: .6rem;
}
.nav-logo {
  max-height: 30px;
  margin-left: 2rem;
}
.nav-DE {
  max-height: 40px;
  margin-left: 3rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1em !important;
}
@media only screen and (max-width:380px){
  .nav-DE {
    display: none;
  }
}
@media only screen and (max-width:992px) and (min-width:576px){
  .nav-DE {
    display: none;
  }
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*Opening Image*/
header.masthead {
  margin-bottom:50px;
  background:no-repeat center center;
  background-color:#868e96;
  background-attachment:scroll;
  position:relative;
  background-size:cover
  }
header.masthead .overlay {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:#212529;
  opacity:.5
  }
header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading {
  padding:200px 0 150px;
  color:#fff
  }
@media only screen and (min-width:768px) {
  header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading {
    padding:200px 0
    }
  }
header.masthead .page-heading,header.masthead .site-heading {
  text-align:center
  }
header.masthead .page-heading h1,header.masthead .site-heading h1 {
  font-size:50px;
  margin-top:0
  }
header.masthead .page-heading .subheading,header.masthead .site-heading .subheading {
  font-size:24px;
  font-weight:300;
  line-height:1.1;
  display:block;
  margin:10px 0 0;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
  }
@media only screen and (min-width:768px) {
header.masthead .page-heading h1,header.masthead .site-heading h1 {
  font-size:80px
  }
}
header.masthead .post-heading h1 {
font-size:35px
}
header.masthead .post-heading .meta,header.masthead .post-heading .subheading {
line-height:1.1;
display:block
}
header.masthead .post-heading .subheading
{font-size:24px;
font-weight:600;
margin:10px 0 30px;
font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}
header.masthead .post-heading .meta {
font-size:20px;
font-weight:300;
font-style:italic;
font-family:Lora,'Times New Roman',serif
}
header.masthead .post-heading .meta a {
color:#fff
}
@media only screen and (min-width:768px) {
header.masthead .post-heading h1 {font-size:55px}
header.masthead .post-heading .subheading {font-size:30px}
}


/* Servicos */
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 75%;
  margin-top: .3rem;
}

.btn-outline-light {
  font-size: 100%;
}
.card {
  text-align: justify;
  text-justify: inter-word;
}

.btn-outline-light{
  background-color: rgb(240,240,240);
  border: 1px solid rgb(240,240,240);
  color: #000000;
}
.btn-outline-light:hover {
  background-color: rgb(240,240,240,0.5);
  border: 1px solid rgb(240,240,240,0.5);
  color: #000000;
}

.hr_blue {
  border-top: 2px solid #248EFF;
  width: 50%;
  margin-left: 0rem;
}
.hr_modal {
  border-top: 1px solid #248EFF;
  width: 80%;
  margin-left: 0rem;
}


@media (min-width: 250px) {
  .left {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .right {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (min-width: 768px) {
  .left {
    padding-right: 0rem;
    padding-left: 5rem;
  }
  .right {
    padding-left: 0rem;
    padding-right: 5rem;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1, .close2, .close3, .close4, .close5, .close6 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover, .close1:focus, .close2:hover, .close2:focus, .close3:hover, .close3:focus, .close4:hover, .close4:focus, .close5:hover, .close5:focus, .close6:hover, .close6:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/*Footer*/
footer {
  padding-top: .1rem;
  padding-bottom: -1rem;
  font-size: 80%;
}

footer a {
  color: #dfdfdf;
  font-size: 90%;
}
.h5 h5 {
  padding-top: .3rem;
  margin-bottom: -4rem;
  font-size: 70%;
}
.logo {
  max-width: 40%;
  height: auto;
}
.social {
  margin-top: -0.5rem;
  margin-bottom: -2.5rem;
}
.height {
  margin-bottom: -2rem;
}
.space {
  margin-top: 1.5rem;
}
.social a {
font-size: 2em;
padding: 0.5rem;
margin-bottom: -4rem;
}
.fa-facebook, .fa-twitter, .fa-linkedin, .fa-google-plus, .fa-skype {
  color: #dfdfdf;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #00aced;
}
.fa-linkedin:hover {
  color: #0077B5;
}
.fa-google-plus:hover {
  color: #dd4b39;
}
.fa-skype:hover {
  color: #00aff0;
}
.contact_us  {
  background-color: #248eff
}
.contact_us:hover  {
  background-color: #4fa4ff;
}

/*---Media Queries --*/
@media (min-width: 1200px) {
  section#contact .section-heading {
    color: #fff;
  }
}

@media (max-width: 992px) {
/*Footer*/
  .social a {
    font-size: 2em;
  }
}
/*Industrias*/
#portfolio{
  background-color: #ffffff;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(248,248,255, 0.5);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#portfolio * {
  z-index: 2;
}


@media (max-width: 768px) {
  /*Industrias*/
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
/*Footer*/
  .social a {
    font-size: 2.5em;
    padding: 0.3rem;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

  .display-4 {
    font-size: 200%;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
/*Footer*/
  .social a {
    font-size: 1em;
    padding: .1rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
